:root{
    --main: #ff5e00;
    --dark-main: #ff4800;
    --light-main: #ff7f34;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    font-family: 'KoHo', sans-serif;
}
body.open{
    overflow-y: hidden;
}

h1{
    font-size: 32px;
}
h2{
    font-size: 28px;
}
h3{
    font-size: 22px;
}
p{
    font-size: 18px;
}
.no-data{
    text-align: center;
    font-size: 22px;
}
.form-message{
    font-size: 18px;
}

img{
    display: block;
}

/* Favorite/Like Button */
.like {
    font-size: 18px;
    position: fixed;
    bottom: 16px;
    right: 16px;
    background-color: #db0000;
    color: white;
    border: 0;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Skip to Content */
.skip-link {
    position: absolute;
    top: -60px;
    left: 0;
    background-color: var(--main);
    color: white;
    padding: 15px;
    z-index: 100;
}
.skip-link:focus {
    top: 0;
}

/* AppBar */
app-bar{
    width: 100%;
    height: 70px;
    display: flex;
    padding: 0 15px;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-bottom: 2px solid var(--main);
}

app-bar #navBrand{
    padding: 15px 0;
    font-size: 24px;
    text-decoration: none;
    color: var(--main);
}

app-bar #hamburgerButton{
    text-decoration: none;
    background: none;
    font-size: 24px;
    padding: 15px;
    cursor: pointer;
    border: none;
    color: #000;
}

app-bar #navigationDrawer{
    width: 250px;
    height: 100%;
    position: absolute;
    background: #fff;
    top: 0;
    left: 0;
    z-index: 2;
    transform: translate(-250px, 0);
    transition: transform 0.3s ease-in-out;
}
app-bar #navigationDrawer.open {
    transform: translate(0, 0);
}

app-bar #navigationDrawer ul{
    list-style-type: none;
}

app-bar #navigationDrawer li a{
    display: block;
    padding: 1rem;
    font-size: 18px;
    text-decoration: none;
    color: #000;
}

app-bar #dnavigationDrawer li:hover a{
    background: #fff7f2;
}

app-bar #blackArea{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
}
app-bar #blackArea.open{
    display: block;
}

app-bar .active{
    background: var(--light-main);
    color: #fff !important;
}

/* Preloader */
#loader, #loader:before {
    height: 3px;
    width: 100%;
    margin: 0;
}
#loader {
    background-color: #ffcdb0;
    display: none;
}
#loader.show {
    display: -webkit-flex !important;
    display: flex !important;
}
#loader:before {
    background-color: #ff5e00;
    content: '';
    -webkit-animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}
@-webkit-keyframes running-progress {
    0% { margin-left: 0px; margin-right: 100%; }
    50% { margin-left: 25%; margin-right: 0%; }
    100% { margin-left: 100%; margin-right: 0; }
}
@keyframes running-progress {
    0% { margin-left: 0px; margin-right: 100%; }
    50% { margin-left: 25%; margin-right: 0%; }
    100% { margin-left: 100%; margin-right: 0; }
}

/* Hero */
hero-item{
    position: relative;
    padding: 50px 0;
    width: 100%;
    justify-content: center;
    align-items: center;
}

hero-item .hero-img{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
}
hero-item .hero-img img{
    object-fit: cover;
    filter: brightness(60%);
    height: 100%;
    width: 100%;
}

hero-item h1{
    position: relative;
    text-align: center;
    color: #fff;
    margin-bottom: 15px;
}

hero-item p{
    position: relative;
    text-align: center;
    color: #fff;
}

/* Main Content */
main{
    min-height: 100vh;
}

main .container{
    padding: 0 40px;
}

/* Main - Home + Fav */
#restaurantContent{
    margin: 25px auto;
}

#restaurantContent h2{
    text-align: center;
    margin-bottom: 25px;
}

#restaurantContent restaurant-list{
    display: grid;
    grid-row-gap: 20px;
    padding: 0 40px;
}

#restaurantContent restaurant-item{
    background: #f8f9fa;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    overflow: hidden;
    transition: 0.3s;
}
#restaurantContent restaurant-item a{
    text-decoration: none;
    color: #000;
}
#restaurantContent restaurant-item:hover{
    transform: translateY(-10px);
}
#restaurantContent restaurant-item:hover h3{
    color: #ff5e00;
}

#restaurantContent restaurant-item .card-head{
    position: relative;
}

#restaurantContent restaurant-item img{
    position: relative;
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: center;
    border-bottom-right-radius: 25px;
}

#restaurantContent restaurant-item .card-head p{
    color: white;
    font-size: 14px;
    font-weight: 600;
    background: #ff5e00;
    padding: 5px 15px 5px 10px;
    border-bottom-right-radius: 15px;
    position: absolute;
    top: 15px;
}

#restaurantContent restaurant-item .card-body{
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
}

#restaurantContent restaurant-item .card-body h3{
    transition-duration: 0.3s;
    margin-bottom: 5px;
    order: 1;
}
#restaurantContent restaurant-item .card-body .bot{
    order: 3;
}
#restaurantContent restaurant-item .card-body .top{
    order: 2;
}

#restaurantContent restaurant-item .card-body p{
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

#restaurantContent restaurant-item .card-body p small{
    font-size: 14px;
}

/* Main - Detail */
restaurant-detail h3{
    text-decoration: underline;
    margin-bottom: 5px;
}

restaurant-detail .detail-head img{
    object-fit: cover;
    object-position: center;
    height: 250px;
    width: 100%;
}

restaurant-detail .detail-head h2{
    display: none;
}

restaurant-detail .detail-body{
    border-radius: 10px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
    background: white;
    padding: 25px 15px;
    position: relative;
    margin: -75px 25px 25px;
}

restaurant-detail .detail-body h2{
    text-align: center;
    margin-bottom: 25px;
}

restaurant-detail .detail-body section{
    margin-bottom: 15px;
}

restaurant-detail .detail-body table {
    width: 100%;
    font-size: 18px;
}

restaurant-detail .detail-body table th{
    text-align: start;
    padding: 5px 0;
}

restaurant-detail .detail-body .rating span{
    color: var(--main);
}

restaurant-detail .menu-cont{
    font-size: 18px;
}

restaurant-detail .menu-cont div{
    margin-top: 10px;
}

restaurant-detail .menu-cont ul{
    padding-left: 25px;
}

restaurant-detail .menu-cont .menu-food ul{
    list-style-type: "🍔 ";
}

restaurant-detail .menu-cont .menu-drink ul{
    list-style-type: "☕ ";
}

restaurant-detail .detail-review, restaurant-detail .detail-form{
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
    padding: 25px 15px;
    margin: 25px;
}

restaurant-detail review-form #reviewForm{
    display: flex;
    flex-direction: column;
}

restaurant-detail review-form .form-input{
    width: 100%;
    min-height: 44px;
    padding: 5px;
    margin: 5px 0;
    font-family: 'KoHo', sans-serif;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

restaurant-detail review-form button{
    background: var(--main);
    min-height: 44px;
    width: fit-content;
    margin-left: auto;
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}
restaurant-detail review-form button:hover{
    background: var(--dark-main);
}

restaurant-detail review-item{
    display: block;
    margin: 15px 0;
}

restaurant-detail .review-head{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

restaurant-detail .review-head h4{
    font-size: 18px;
}

restaurant-detail .review-head p{
    color: #606060;
}

restaurant-detail .review-body blockquote{
    word-break: break-word;
    font-size: 18px;
}

/* Footer */
footer{
    background: #f8f9fa;
    border-top: 2px solid var(--main);
    font-size: 18px;
    padding: 20px 0;
    text-align: center;
}

footer b{
    color: var(--main);
}